<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newTitle>
  </div>
  <div class="field">
    <label for="link" appAppdirective>Link:</label>
    <input name="link" #newLink>
  </div>
  <!-- added the button-->
  <button (click)="addArticle(newTitle,newLink)" class="ui positive right floated button">Submit Link</button>

</form>
<div class="ui grid posts">
  <app-article *ngFor="let x of sortedArticles()" [article]="x"></app-article>
</div>